<%= link_to 'Home', index_index_path %> | <%= link_to "Manage Account", edit_user_registration_path %> | <%= link_to "Manage Group", user_session_path %> | <%= link_to "Log Out", destroy_user_session_path, method: :get %>
<p id="notice"><%= notice %></p>
<container>
<h1>Campaign Tracker</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Due Date</th>
      <th>Marketo URL</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= campaign.name %></td>
        <td><%= campaign.dueDate %></td>
        <td><%= campaign.marketoURL %></td>
        <td><%= campaign.notes %></td>
        <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
        <td><%= link_to 'Delete', campaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <tr>
    <td><%= link_to 'New Campaign', new_campaign_path %></td>
      </tr>
  </tbody>
</table>

</container>
